- include_stylesheet 'admin/assets'

#page-assets
  .controls
    = link_to t('assets_extension.upload_asset'), '#upload-asset', :class => 'popup'
    = link_to t('assets_extension.attach_existing'), '#attach-asset', :class => 'popup'
  %h2
    = t('assets_extension.attached_assets')
  - if @page.new_record? || @page.page_attachments.empty?
    %span.note
      = t('assets_extension.no_attachments')
  - else
    .attachments.box
      .asset_list
        %ul
          - @page.page_attachments.each do |attachment|
            = render :partial => 'admin/assets/attachment', :object => attachment