- render_region :asset_popups do |popups|
  - popups.upload_asset do
    #upload_asset.popup.textured{:style => "display: none; width: 28em"}
      #upload_asset_busy.busy{:style => "display: none"}= image('spinner.gif', :alt => "")
      
      .popup_title= t('assets_extension.upload_asset')
      
      - form_for([:admin, Asset.new], :html => {:method => 'post', :multipart => true, :target => 'ulframe'}) do |f|
        = hidden_field_tag "for_attachment", 1
        = hidden_field_tag "page_id", @page.id
        
        %p
          = f.label :asset, t("assets_extension.choose_file")
          = f.file_field :asset
        
        %p
          = f.label :title, 'Alt-Text or Title <span class="hint">(optional)</span>'
          = f.text_field :title, :class => "textbox big"
        
        .buttons
          = f.submit t("assets_extension.upload"), :class => "button"
          = t('or')
          %a.cancel.close_popup{:href=>"javascript:void(0)"}= t('cancel')
          %a.popup{:href=>"#attach_asset", :style => 'color: #666; float: left'}= t('assets_extension.attach_existing')
      
      %iframe{:id => 'ulframe', :name => "ulframe", :src => "about:blank"}
  
  - popups.attach_asset do
    #attach_asset.popup.textured{:style=>"display: none; width: 44em"}
      #attach_asset_busy.busy{:style => "display: none"}= image('spinner.gif', :alt => "")
      
      .popup_title= t('assets_extension.attach_existing')
      
      .toolbar
        = render :partial => 'admin/assets/search'
            
      #assets_table.viewport{:style=>"height: 20em"}
        = render :partial => 'admin/assets/asset_table', :locals => {:assets => Asset.latest(10), :for_attachment => true}
      
      .buttons
        %a.cancel.close_popup{:href=>"javascript:void(0)"}= t('cancel')
        %a.popup{:href=>"#upload_asset", :style => 'color: #666; float: left'}= t('assets_extension.upload_asset')
