%table.index#assets
  %thead
    %tr
      - render_region :thead do |thead|
        - thead.thumbnail_header do
          %th.asset{:colspan=>2}
            = t("assets_extension.asset")
        - thead.content_type_header do
          %th.content_type
            = t("assets_extension.type")
        - thead.actions_header do
          %th.actions
            = t('assets_extension.actions')
  %tbody
    - unless assets.empty?
      - for asset in assets 
        %tr[asset]
          - render_region :tbody, :locals => { :asset => asset } do |tbody|
            - tbody.thumbnail_cell do
              %td.icon
                - asset_id = "asset_#{asset.id.to_s}"
                = link_to image_tag(asset.thumbnail(:icon)), edit_admin_asset_path(asset), :class => 'icon'
            - tbody.title_cell do
              %td.name
                = link_to asset.title, edit_admin_asset_path(asset) 
                &nbsp;
                %span.caption
                  = asset.caption
            - tbody.content_type_cell do
              %td.content_type
                = asset.asset_content_type
            - tbody.actions_cell do
              %td.actions
                = link_to_remote(image('plus') + ' ' + t("assets_extension.bucket"), {:url=>add_bucket_url(:id => asset)}, {:class=>"action"})
                = link_to(image_tag('/images/assets/copy.png', :alt => t('assets_extension.copy_alt')) + ' ' + t("assets_extension.copy"), '', :class=>"action copy", :id => "copy_#{asset.id}")
                = link_to(image('minus') + ' ' + t("assets_extension.remove"), remove_admin_asset_path(asset), :class=>"action")
    - else
      %tr
        %td.empty{:colspan=>"4"} 
          = t("assets_extension.no_assets")
