- assets ||= @assets
- page ||= @page
- with_pagination ||= false

- if assets.empty?
  %p
    = t("assets_extension.no_assets")
- else
  - if with_pagination && assets.respond_to?(:previous_page) && assets.previous_page
    = pagination_for(assets, pagination_parameters.merge(:depaginate => false, :params => {:controller => 'admin/assets', :action => 'index', :id => nil, :format => 'js'}))

  %ul
    - assets.each_with_index do |asset, index|
      - asset_type = asset.image? ? "image" : "link"
      %li{:class => "#{asset_type} asset", :id => "asset_#{asset.id}"}
        .front
          .thumbnail= image_tag asset.thumbnail(:sample)
        .back
          - if @page
            = link_to asset.title, '#', :class => 'select_asset title'
            = check_box_tag :'asset_ids[]', asset.id, false, :class => 'selector'
          - else
            .title
              = asset.title
            %ul.actions
              %li= link_to t('assets_extension.edit'), admin_asset_path(asset), :class => 'edit'
              %li= link_to t("assets_extension.remove"), remove_admin_asset_path(asset), :class => "delete"

  - if with_pagination && assets.respond_to?(:next_page) && assets.next_page
    = pagination_for(assets, pagination_parameters.merge(:depaginate => false, :params => {:controller => 'admin/assets', :action => 'index', :id => nil, :format => 'js', :page_id => page.id}))
