- include_stylesheet 'admin/assets'
- include_javascript 'admin/assets'

- content_for :toolbar do
  = render 'search'

.outset
  #assets_table.assets
    = render :partial => 'asset_table', :locals => { :assets => @assets }
  %p{:style => 'clear: both; height: 2em'} &nbsp;
  
- render_region :bottom do |bottom|
  #actions
    = pagination_for @assets, :depaginate => false
    %ul
      %li= link_to((image('upload') + ' ' + t('clipped_extension.upload_asset')), new_admin_asset_path)
      - if current_user.admin?
        %li
          = link_to t('clipped_extension.regenerate_thumbnails'), refresh_admin_assets_path
