- include_stylesheet 'admin/assets'
- include_javascript 'ZeroClipboard'
- include_javascript 'admin/assets'

- content_for :toolbar do
  = render 'search'

.outset
  #assets_table
    = render :partial => 'asset_table', :locals => { :assets => @assets }
    
- render_region :bottom do |bottom|
  #actions
    = pagination_for @assets, :depaginate => false
    %ul
      %li= link_to((image('upload') + ' ' + t('assets_extension.upload_asset')), new_admin_asset_path)
      - if current_user.admin?
        %li= link_to t('assets_extension.regenerate_thumbnails'), refresh_admin_assets_path, :confirm => 'Beware that this will take a while and consume considerable resources on your server. Are you sure you want to continue?'
