- include_stylesheet 'admin/assets'

- content_for :toolbar do
  = render 'search'

.outset
  - render_region :top do |top|
    - top.filters do
      - if false #current_user.admin? # turned off for now, this might be too dangerous to reveal
        .regenerator
          = link_to t('assets_extension.regenerate_all_thumbnails') , refresh_admin_assets_path, :confirm => 'Beware that this will take a while and consume considerable resources on your server. Are you sure you want to continue?'
  #assets_table
    = render :partial => 'asset_table', :locals => { :assets => @assets }

= render :partial => 'assets_container'
    
- render_region :bottom do |bottom|
  #actions
    = pagination_for @assets, :depaginate => false
    %ul
      %li= link_to((image('upload') + ' ' + t('assets_extension.upload_asset')), new_admin_asset_path)
