- attachment_form ||= false
- if attachment_form
  - attachment ||= attachment_form.object
- else 
  - attachment ||= @attachment

- page = attachment.page
- asset = attachment.asset
- asset_type = asset.image? ? "image" : "link"

%li{:class => "#{asset_type} asset", :id => "asset_#{asset.id}"}
  .front
    .thumbnail= image_tag asset.thumbnail(:sample)
  .back
    .title= asset.title
    - if asset.attached_to?(page)
      %ul.actions
        - asset_size = Radiant.config['assets.insertion_size'] || 'normal'
        %li= link_to t('assets_extension.insert'), '#', :class => 'insert_asset', :rel => "#{asset_size}_#{asset.id}"
        - if attachment_form
          %li
            = attachment_form.hidden_field :_destroy, :class => 'destroyer'
            = link_to t('assets_extension.detach'), '#', :class => 'detach_asset'
