- attachment ||= @page_attachment

- page = attachment.page
- asset = attachment.asset
- asset_type = asset.image? ? "image" : "link"
- css_class = "#{asset_type} asset"
- css_class += ' unsaved' if attachment.new_record?

%li{:class => css_class, :id => "attachment_#{asset.uuid}"}
  - fields_for :page, @page do |f|
    - f.fields_for :page_attachments, attachment, :child_index => asset.uuid do |paf|
      - if attachment.new_record?
        = paf.hidden_field :asset_id, :class => 'attacher'
      - else
        = paf.hidden_field :_destroy, :class => 'destroyer'
      = paf.hidden_field :position, :class => 'pos'
  .front
    .thumbnail= image_tag asset.thumbnail(:thumbnail)
  .back
    .title= asset.title
    %ul.actions
      %li
        = asset_insertion_link(asset)
      %li
        = link_to t('clipped_extension.detach'), '#', :class => 'detach_asset'
