%fieldset
  %h4 
    = t('clipped_extension.assets')
  %p= edit_config 'assets.max_asset_size'
  %p= edit_config 'assets.display_size'
  %p= edit_config 'assets.insertion_size'
  - %w{image video pdf}.each do |type|
    %p= edit_config "assets.create_#{type}_thumbnails?"
